@import "vars";
//----
.demo {
	padding-left: 140px;
	h1, h2, h3, h4, h5 { padding: 1rem 0;}
	aside {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 120px;
	background: #333;
	height: 100%;
		a { color: #ccc; text-decoration: none; padding: .4em 1em; font-size: .9em; display: block;
			&:hover { color:#fff;}
		}
	}
	// .brdr {border: #ccc 1px solid;}
	hr {border: none; border-bottom: #eee 1px solid; margin:  0 0 .5em 0;}
	.section { margin: 0 20px 1rem 0;}
	code { display: inline-block;
		background: #EFF7EC;
		padding: 2px 4px;
    	font-size: 90%;
    	color: #25A51E;
	}
	// .grid { margin: .5em 0;}
	// .grid-7 .col { width: 14.285%;}
	// .grid-9 .col { width: 9%; }
}
.test .grid { margin-bottom: $colGap;}
.test .col > * { background: #eee; margin-bottom:$colGap*2; padding: .2em; text-align: center;}
.test .col > .grid { padding: 0px; }
.test .col .col > * { background: #ccc; margin-bottom: 0px;}
.test_brdr .col {
	padding: 0px;
	border: #ccc 1px solid;
  border-left: #fff 1px solid;
	&:first-child {    border-left: #ccc 1px solid;}
	& > * {
		// border-top: #ccc 1px solid;
		// border-bottom: #ccc 1px solid;
		padding: 5px 3px;
	}
}
