@import "vars";

.tabs {
  border-bottom: $table_brdr 1px solid;
  li {
    @include rounded(4px 4px 0 0);
    margin-bottom: -1px;
    display: inline-block;
    border: transparent 1px solid;
    padding: .5rem .8rem;
    cursor: pointer;
    &.on{
      border: $table_brdr 1px solid;
      border-bottom-color: #fff;
    }
  }
}
.tabs_items {
  & > * {
    max-height:0px;
    overflow: hidden;
    position: absolute;
    @include opacity(0);
    @include transition(opacity ease-in-out .5s);
    &.on {
      @include opacity(1);
      position: relative;
      height: auto;
      max-height: 10000px;
      overflow: visible;
    }
  }
}
//---------------------------------------- navs
.navbar  { background: $clr_btn;
  .col {vertical-align: middle;}
}
.nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  a { display: block; text-decoration: none;
    padding: $fld_padd_h $fld_padd_v;
  }
  & > li {display: inline-block;}
}


#mainmenu {
  display: inline-block;
  width: auto;
  right: auto;
  top: auto;
  position: static;
  @include transition(right 0.3s ease-in-out, top 0.3s ease-in-out);
}

//----------------------- !!! styles for mobile mainmenu
.menu_fixed #mainmenu {
  background: $clr_btn;
  right: -$menu_fixed_W;
  bottom: 0;
  top: $page_hdr_H;
  overflow-y: auto;
  padding: 0;
  margin: 0px;
  position: fixed;
  width: $menu_fixed_W;
}
.menu_fixed.menu_on #mainmenu {
    right: 0;
}

//---------------------------- dropdowns
.drop_hover {
  position: relative;
  &:hover .drop {
    max-height: 1000px;
  }
}
.drop_left .drop { right: auto;}
.drop_right .drop { left: auto;}
.drop {
  position: absolute;
  line-height: normal;
  top:100%;
  left: 0px; right: 0px;
  @include transition(max-height 0.3s ease-in-out);
  max-height: 0px;
  overflow: hidden;
}
//--------------------crumbs
.crumbs {
  li {list-style-type: none; font-size: .9rem; display: inline-block;
    &:before {vertical-align: middle;}
    &:first-of-type:before { display: none;}
  }
}
