// 1em = 16px
$xx: 5em;
$xs: 22.5em;
$s: 35.5em;
$m: 48em;
$l: 64em;
$xl: 80em;

$columns:12;
$colGap:0.5rem;
$page_padd: 1%;
//------------------- hdr
$page_hdr_H: 80px;
$menu_fixed_W: 30%;
//------------------- colors
$bg_1: #8bc34a;
$bg_2: #6EA929;
$bg_3: #4F8511;
$txt_light: #fff;
$txt_mid: #888;
$txt_dark: #555;

$table_brdr: #ccc;
$td_even: #fafafa;
$tr_hover: #F0FBFF;

$active: #57BEFF;
$f_active: $active;
$clr_btn: #E0E6E6;
//----------------- buttons colors
$clr_err: #E86043;
$clr_warn:#f0ad4e;
$clr_info:#51D4BD;
$clr_ok:#6BBB56;
//----------------- fonts
$fontSize: 16px;
$h1:2.8rem;
$h2:2.4rem;
$h3:2.2rem;
$h4:1.8rem;
$h5:1.4rem;
$h6:1rem;
$font:'Open Sans', Arial, sans-serif;
$serif: Georgia, Times, 'Times New Roman', serif;
//----------------- form sizes
$h1f:1.5rem;
$h2f:1.3rem;
$h3f:1.1rem;
$fld_padd_h: .5em;
$fld_padd_v: .4em;
//----------------- query
@mixin mquery($value, $query) {
  @media ($value: $query){
    @content
  }
}
@mixin rounded($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
//-------------- lighten
@mixin lighten($color) {
  background: ighten( $color, 10% );
}
//-------------- opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
}
//-------------- box-shadow
@mixin shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
//------------------------- transition
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
//-------------------- transforms
// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}
//-----------------Placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
  ::-ms-input-placeholder      {@content}
}
//-----------------Gradients
@mixin gr_vr($start: #000, $stop: #FFF) { background: ($start + $stop) / 2;
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: -moz-gradient(center top, $start 0%, $stop 100%);
    background: linear-gradient(to bottom, $start 0%, $stop 100%);
}
// Background Gradient: Left to Right
@mixin gr_hr($start: #000, $stop: #FFF) { background: ($start + $stop) / 2;
    background: -webkit-gradient(linear, top left, top right, from($start), to($stop));
    background: -moz-linear-gradient(center left, $start 0%, $stop 100%);
    background: -moz-gradient(center left, $start 0%, $stop 100%);
    background: linear-gradient(to right, $start 0%, $stop 100%);
}
