# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
css/base.css.map
css/style.css
img/card.jpg
img/map.png
partials/navs.pug
readme.pug
img/category_bg.png
partials/grid.pug
css/style.css.map
partials/side.pug
css/icons/icomoon.zip
img/logo.png
img/notebook.png
partials/forms.pug
partials/head.pug
partials/tables.pug
partials/typography.pug
