doctype html
html
  include F:/OpenServer/domains/baze/tpl/partials/jade/head.jade
  body.demo.grid
    .col.l-11.xl-9
      include F:/OpenServer/domains/baze/tpl/partials/jade/grid.jade
      include F:/OpenServer/domains/baze/tpl/partials/jade/forms.jade
      include F:/OpenServer/domains/baze/tpl/partials/jade/tables.jade
      include F:/OpenServer/domains/baze/tpl/partials/jade/typography.jade
      include F:/OpenServer/domains/baze/tpl/partials/jade/navs.jade
      
      
      
    include F:/OpenServer/domains/baze/tpl/partials/jade/side.jade
