// ==================================================================== navs
#navs.section
  .col
    h1 Navigations
    hr
      
    h4 Tabs
    hr
    div main.js file required
    div
      |Use  
      code ul.tabs   
      |  for tabs and  
      code  .tabs_items
      |  as wrapper for content blocks. add 
      code  .on
      | class to active tab and panel. That`s it.
    br
     
    ul.tabs
      li.on Tab 1
      li Tab 2
      li Tab 3
    .tabs_items
      div.on TAB 1 Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. 
      div TAB 2 Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. 
      div TAB 3 Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.    
      
    h4 Menus
    hr
    div main.js file required
    .grid.navbar
      .col 
      .col.xx-2 Logo
      .col.xx-2.l0
        #mainmenu_toggle.btn.icon-menu
      .col.xx-8.l-11
        ul#mainmenu.nav
          li 
            a(href='#') Item 1
          li 
            a(href='#') Item 1
          li 
            a(href='#') Item 1
            
    h4 Breadcrumbs
    hr
    .crumbs
      ul
        li.icon-navigate_next(itemprop="itemListElement", itemtype="http://schema.org/ListItem")
          meta(itemprop="position", content="1")
          a(href="#", itemprop="item")
            span(itemprop="name") crumb 1
        li.icon-navigate_next(itemprop="itemListElement", itemtype="http://schema.org/ListItem")
          meta(itemprop="position", content="1")
          a(href="#", itemprop="item")
            span(itemprop="name") crumb 2
        li.icon-navigate_next(itemprop="itemListElement", itemtype="http://schema.org/ListItem")
          meta(itemprop="position", content="1")
          a(href="#", itemprop="item")
            span(itemprop="name") crumb 3
      
