// ==================================================================== forms
#tables.section
  .col
    h1 Tables
    hr
    .grid
      .col.m-6
        p
        p Table wthout any classes have no borders:
        table
          tr 
            th First Name
            th Last name
            th Year
          tr 
            td Barton 
            td Fink
            td 1991
          tr 
            td Sundance 
            td Kid
            td 1969
          tr 
            td David 
            td Aaronson
            td 1984
      .col.m-6
        p
        p 
          |Adding outer border to table:   
          code .brdr
        table.brdr
          tr 
            th First Name
            th Last name
            th Year
          tr 
            td Barton 
            td Fink
            td 1991
          tr 
            td Sundance 
            td Kid
            td 1969
          tr 
            td David 
            td Aaronson
            td 1984
      .col.m-6
        p 
        p 
          |Vertical borders table:   
          code .v_brdr
        table.v_brdr
          tr 
            th First Name
            th Last name
            th Year
          tr 
            td Barton 
            td Fink
            td 1991
          tr 
            td Sundance 
            td Kid
            td 1969
          tr 
            td David 
            td Aaronson
            td 1984   
      .col.m-6
        p 
        p 
          |Horizontal borders table:   
          code .h_brdr
        table.h_brdr
          tr 
            th First Name
            th Last name
            th Year
          tr 
            td Barton 
            td Fink
            td 1991
          tr 
            td Sundance 
            td Kid
            td 1969
          tr 
            td David 
            td Aaronson
            td 1984  
      .col
        p 
        p 
          |Also we can use any combinations of outher   
          code .brdr   
          |, horisontal 
          code .h_brdr    
          |  and vertical   
          code .v_brdr 
          |  borders. Or use   
          code .all_brdr 
          | for fully bordered table.
        table.brdr.v_brdr.h_brdr
          tr 
            th First Name
            th Last name
            th Year
          tr 
            td Barton 
            td Fink
            td 1991
          tr 
            td Sundance 
            td Kid
            td 1969
          tr 
            td David 
            td Aaronson
            td 1984 
      .col 
        h4 Hover states
      .col.m-6    
        p 
        p 
          |Use   
          code .tr_hover     
          |  for tr hovering 
        table.brdr.h_brdr.tr_hover
          tr 
            th First Name
            th Last name
            th Year
          tr 
            td Barton 
            td Fink
            td 1991
          tr 
            td Sundance 
            td Kid
            td 1969
          tr 
            td David 
            td Aaronson
            td 1984   
      .col.m-6    
        p 
        p 
          |Use   
          code .td_hover     
          |  for td hovering 
        table.brdr.h_brdr.td_hover
          tr 
            th First Name
            th Last name
            th Year
          tr 
            td Barton 
            td Fink
            td 1991
          tr 
            td Sundance 
            td Kid
            td 1969
          tr 
            td David 
            td Aaronson
            td 1984   
