// ==================================================================== forms
#typography.section
  .col
    h1 Typography
    hr
      
    h4 Headings
    hr
    .grid
      .col
        p.
          Use <code> &lt;h1&gt;</code> - <code>&lt;h6&gt;</code> or <code>.hdr.h1</code> - <code>.hdr.h6</code> for headings.
        p. 
          <code>&lt;small&gt;</code> is used for secondary text.
        .hdr.h1 H1 heading <small>Secondary text</small> 
        .hdr.h2 H2 heading <small>Secondary text</small>
        .hdr.h3 H3 heading <small>Secondary text</small>
        .hdr.h4 H4 heading <small>Secondary text</small>
        .hdr.h5 H5 heading <small>Secondary text</small>
        .hdr.h6 H6 heading <small>Secondary text</small>
        br
        
    h4 Paragraphs and inline elements
    hr
    p Default  <code>font-size</code> is <strong>16px</strong>, with <code>line-height</code>  of <strong>1.4em</strong>
    p We use default for HTML5 inline elements: <code>&lt;strong&gt;</code>, <code>&lt;small&gt;</code>, <code>&lt;em&gt;</code>, <code>&lt;u&gt;</code>
    
    p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis <strong>&lt;strong&gt; for bold text</strong> et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur <small>&lt;small&gt; for small text</small> mus. <u>&lt;u&gt; tag for underline</u> ullamcorper nulla non metus auctor <em>&lt;em&gt; for italic text</em>. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.

    h4 Alignment and text-transform
    hr 
    p 
      code .txt_r
      |  for right aligned text
    p
      code .txt_l
      |  for left aligned text
    p
      code .txt_c
      |  for center aligned text
    p
      code .txt_j
      |  for justify aligned text
    hr  
    p
      code .txt_lower
      |  for right 
      span.txt_lower aligned text  
    p
      code .txt_upper
      |  for right 
      span.txt_upper aligned text  
    p
      code .txt_caps
      |  for right 
      span.txt_caps aligned text
    
    h4 Blockquotes
    hr 
    blockquote
      p Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      footer Butch Cassidy
    
