@import "vars";
.grid {
    text-align: justify;
    position: relative;
    letter-spacing: -3rem;
    font-size: 0;
    &.grid_l {
        text-align: left;
    }
    &.grid_r {
        text-align: right;
    }
    &.grid_c {
        text-align: center;
    }
    .grid {
        margin-left: -$colGap;
        margin-right: -$colGap;
        &.margin0 {
            margin-right: 0px;
            margin-left: 0px;
        }
    }
    &.fluid {
        &>.col {
            width: auto;
        }
    }
}
.grid>* {
    display: inline-block;
    letter-spacing: normal;
    font-size: 1rem;
    text-align: left;
    vertical-align: top;
}
.grid>label, .grid> label.col ~ .col  {    vertical-align: middle;}
.grid:after {
    display: inline-block;
    content: '';
    width: 100%;
}
//-------------- reverse cols
.grid.rtl {
    direction: rtl;
    .col {
        direction: ltr;
    }
}
.grid.middl>*, .grid.v_middl>* {
    vertical-align: middle;
}
.grid.v_base>* {
    vertical-align: baseline;
}
.col {
    // max-width: 100%;
    width: 100%;
    padding-left: $colGap;
    padding-right: $colGap;
}
// @include mquery(max-width, $xl) {.l-0 {display: none;}}
// @include mquery(max-width, $l) {.m-0 {display: none;}}
// @include mquery(max-width, $m) {.s-0 {display: none;}}
// @include mquery(max-width, $s) {.xs-0 {display: none;}}
// @include mquery(max-width, $xs) {.xx-0 {display: none;}}
.col.on {
    display: inline-block;
}
//------------ mixin
@each $j in $media-sizes {
    //.red { color: $#{$j};}
    @include mquery(min-width, nth($j, 2)) {
        .#{nth($j, 1)}-0 {width: 0; padding: 0;}
        .#{nth($j, 1)}-hide {display: none;}
        .#{nth($j, 1)}-show {display: inline-block;}
        .#{nth($j, 1)}-gap-0 {margin-left: 0; }
    @for $i from 1 through $columns {      
            .#{nth($j, 1)}-#{$i} {         
                width: 100% / $columns * $i;   
            }  
            .#{nth($j, 1)}-gap-#{$i} {
                margin-left: 100% / $columns * $i;
            }         
        }         
      .#{nth($j, 1)}-txt_r { text-align: right;  }  
    }
  }
