@import "mixins";
//-------------helpers
body [class*="icon-"] {
    font-family: inherit !important;
    &:before {
        font-family: 'icomoon2' !important;
        display: inline-block;
        position: relative;
        margin-bottom: -0.2em;
        margin-top: -.2em;
        vertical-align: -16%;
        font-size: 1.4em;
    }
    &:not(:empty):before {  margin-right: .35em; }
    &._rtl:not(:empty):before {  margin-right: 0; margin-left: .35em;}
}

._sh {
    @include shadow(2px, 2px, 8px, rgba(0, 0, 0, .3));
}
._abs { position: absolute;}
._rel { position: relative;}
._top { top:0px;}
._right { right:0px;}
._left {left: 0px;}
._bottom {bottom: 0px;}
._rtl { direction: rtl;}

.fl_l {   float: left;}
.fl_r {    float: right;}

.txt_l {    text-align: left;}
.txt_r {    text-align: right;}
.txt_c {    text-align: center;}
.txt_j {    text-align: justify;
    // &:after {
    //     content: ''; display: inline-block;
    //     overflow: hidden; width: 100%; height: 0;
    // }
}
._txt_upper {    text-transform: uppercase;}
._txt_lower {    text-transform: lowercase;}
._txt_caps {    text-transform: capitalize;}

._nowrap {    white-space: nowrap;}
._v_top {    vertical-align: top}
._v_base {    vertical-align: baseline;}
._v_middl {
    vertical-align: middle;
    &:before {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content: "";
        width: 0px;
        margin-left: -.3em;
    }
    & > * {display: inline-block; vertical-align: middle;}
}
._abs_full { position: absolute; top: 0px; left:0px; right:0px; bottom: 0px;}
.tab {
    color: $txt_light;
    box-sizing: border-box;
    border-radius: $rnd;
}
.tab1 {
    color: $txt_light;
    @include shadow(5px, 5px, 10px, #000);
}

//-------- square & circle blocks
.square, .circle { 
    overflow: hidden; position: relative;
    background-position: 50%; background-size: cover;
    &:after { padding-bottom: 100%; content: ''; display: block;}
    & > * { position: absolute; width: 100%; height: 100%;  }
  }
.circle { border-radius: 50%; 
shape-outside: ellipse();     background-clip: content-box;}