@import "mixins";
//-------------helpers
._sh {
    @include shadow(2px, 2px, 8px, rgba(0, 0, 0, .3));
}
.fl_l {
    float: left;
}
.fl_r {
    float: right;
}
.txt_l {
    text-align: left;
}
.txt_r {
    text-align: right;
}
.txt_c {
    text-align: center;
}
.txt_j {
    text-align: justify;
}
.txt_upper {
    text-transform: uppercase;
}
.txt_lower {
    text-transform: lowercase;
}
.txt_caps {
    text-transform: capitalize;
}
.nowrap {
    white-space: nowrap;
}
.v_top {
    vertical-align: top
}
.v_base {
    vertical-align: baseline;
}
.v_middl, .middl {
    &>* {
        vertical-align: middle;
        &:before {
            content: '';
            height: 100%;
        }
    }
}
.tab {
    color: $txt_light;
    box-sizing: border-box;
    border-radius: $rnd;
}
.tab1 {
    color: $txt_light;
    @include shadow(5px, 5px, 10px, #000);
}

//-------- square & circle blocks
.square, .circle { 
    overflow: hidden; position: relative;
    background-position: 50%; background-size: cover;
    &:after { padding-bottom: 100%; content: ''; display: block;}
    & > * { position: absolute; width: 100%; height: 100%;  }
  }
.circle { border-radius: 50%; 
shape-outside: ellipse();     background-clip: content-box;}