// 1em = 16px
$xx: 5em;
$xs: 22.5em;
$s: 35.5em;
$m: 48em;
$l: 64em;
$xl: 80em;

$media-sizes: xx $xx, xs $xs, s $s, m $m, l $l, xl $xl;

$columns:12;
$colGap:0.6rem;
$page_padd: 1%;

$btn_padd_v: 0.4em;
$btn_padd_h: 0.8em;
//------------------- hdr
$page_hdr_H: 73px;
$menu_fixed_W: 40%;
$menu_dark: 1;
//1 - dark menu; 0 - light menu
//----------------- colors
$map_colors: (
    'white': #ffffff,
    'black': #000000,
    '333': #333333,
    'red': #f44336,
    'purple': #9c27b0,
    'pink': #e91e63,
    'deep_purple': #673ab7,
    'indigo': #3f51b5,
    'blue': #2196f3,
    'light_blue': #03a9f4,
    'cyan': #00bcd4,
    'teal': #009688,
    'green': #4caf50,
    'salad': #8bc34a,
    'lime': #c4d617,
    'yell': #ffeb3b,
    'orange': #f59200,
    'brown': #795548,
    'gray': #9c9c9c
  );
@function color($key) {
    @return map-get($map_colors, $key);
}
//------------------- colors
$txt_light: #999;
$txt_mid: #666;
$txt_dark: #333;
$table_brdr: #aaa;
$td_even: #fafafa;
$active: color('light_blue');
$active_light: lighten($active, 44%);
$f_active: $active;
$tab_bg: color('white');
$field_bg: color('white');
$btn_clr: color('white');
//----------------- fonts
$line_h: 1.4em;
$fontSize: 16px;
$h1:2.4rem;
$h2:2.1rem;
$h3:1.8rem;
$h4:1.4rem;
$h5:1.2rem;
$h6:.9rem;
$h7:.8rem;
$h8:.7rem;
$font:'Open Sans', Arial, sans-serif;
$serif: Georgia, Times, 'Times New Roman', serif;
//----------------- form sizes
$fld_padd_h: .5em; 
$fld_padd_v: .4em;
//---------------round corners
$rnd: .3em;
$rnd2x: 2em;
$tabs_rnd: .3em;