
<!-- ==================================================================== forms-->
<div id="forms" class="section">
  <div class="col">
    <h1>Forms</h1>
    <hr/>
    <div>
       
      Forms is builded on the same  <code>.grid .col  </code>system adding <code>.form   </code>class. It can be applied to whole form or any <code>.grid </code>inside itself. (<code>.form </code>class affecting on all inner<code>.col </code>blocks)
    </div>
    <div> <code>.col</code>class can be applied directly on inputs, selects and textareas.</div><br/>
    <div class="grid form">
      <label class="col s-4">Input name </label>
      <input type="text" placeholder="Input wit .col class" class="fld col s-5"/>
      <div class="col s-3">
        <input type="submit" value="Input name" class="btn icon-check"/>
      </div>
    </div><br/>
    <div>
       
      Use  <code>.col</code>wrappers for inputs, selects and textareas if you need to make inline forms  
    </div><br/>
    <div class="grid form">
      <label class="col s-4">Very long input name </label>
      <div class="col s-5">        
        <input type="text" placeholder="Input name" class="fld"/>
      </div>
      <div class="col s-3">
        <input type="text" placeholder="Input name" class="fld"/>
      </div>
    </div>
  </div>
  <div class="col">
    <h4>Field & buttons sizes</h4>
    <hr/>
    <div class="form h3"> 
      <div class="grid">    
        <label class="col s-3"> .grid.form-row.h3</label>
        <div class="col s-3">
          <input type="text" placeholder="Input name" class="fld"/>
        </div>
        <div class="col s-3">
          <input type="radio" id="r2" name="r1" class="bool"/>
          <label for="r2">Input name </label>
        </div>
        <div class="col s-3">
          <button class="btn icon-shopping_cart">Input name</button>
        </div>
      </div>
    </div>
    <div class="form h2"> 
      <div class="grid">    
        <label class="col s-3">.grid.form-row.h2</label>
        <div class="col s-3">
          <input type="text" placeholder="Input name" class="fld"/>
        </div>
        <div class="col s-3">
          <input type="radio" id="r1" name="r1" class="bool"/>
          <label for="r1">Input name         </label>
        </div>
        <div class="col s-3"><a href="#" class="btn icon-pencil">icon-pencil </a></div>
      </div>
    </div>
    <div class="form h1">
      <div class="grid">     
        <label class="col s-3">.grid.form-row.h1</label>
        <div class="col s-3">
          <input type="text" placeholder="Input name" class="fld"/>
        </div>
        <div class="col s-3">
          <input type="checkbox" id="ch1" class="bool"/>
          <label for="ch1">Input name</label>
        </div>
        <div class="col s-3">
          <div class="btn icon-paperplane">div as button</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">   
    <h4>Select          </h4>
    <hr/>
    <p>
       
      We use standart HTML select with <code>appearance: none; </code>rule. and .svg arrow background.
    </p>
    <div class="grid form grid_l">     
      <label class="col s-3">Select name</label>
      <div class="col s-4">
        <select>
          <option disabled="disabled" selected="selected">Choose an option</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Very very very loooong Option 3</option>
        </select>
      </div>
    </div>
    <p>Textarea    </p>
    <div class="grid form v_top grid_l">    
      <label class="col s-3">Textarea name</label>
      <div class="col s-5">
        <textarea rows="4">     </textarea>
      </div>
    </div>
  </div>
</div>