
<!-- ==================================================================== grids-->
<div id="grids" class="section">
  <div class="col">
    <h1>Grids</h1>
    <hr/>
    <div>We use <code>inline-blocks</code> for columns.</div>
    <div>In that way we preventing common problem of all float grids: <a href="http://stackoverflow.com/questions/30598970/bootstrap-row-elements-with-variable-height" target="_blank">variable columns height.</a></div>
    <div>
       
      For example, Bootstrap trying to fix it it in <a href="http://getbootstrap.com.vn/examples/equal-height-columns/" target="_blank">flexbox-way</a>
    </div>
    <div>But this solution shrinks all colunns into a single row. So if we have more than 12 columns in <code>.row</code>- we have unsolved problem.</div>
    <div>Also <code>flexbox</code>have a lot of issues on IE 10 & 11.!!!</div>
    <div>Also inline-blocks grid can be used for non-standart grids such as 7-columns with any margins:</div>
    <h5>Non-standart grids</h5>
  </div>
  <div class="grid test grid-7">
    <div class="col">
      <div>1</div>
    </div>
    <div class="col">
      <div>2</div>
    </div>
    <div class="col">
      <div>3</div>
    </div>
    <div class="col">
      <div>4</div>
    </div>
    <div class="col">
      <div>5</div>
    </div>
    <div class="col">
      <div>6</div>
    </div>
    <div class="col">
      <div>7</div>
    </div>
  </div>
  <div class="grid test grid-9">
    <div class="col">
      <div>1</div>
    </div>
    <div class="col">
      <div>2</div>
    </div>
    <div class="col">
      <div>3</div>
    </div>
    <div class="col">
      <div>4</div>
    </div>
    <div class="col">
      <div>5</div>
    </div>
    <div class="col">
      <div>6</div>
    </div>
    <div class="col">
      <div>7</div>
    </div>
    <div class="col">
      <div>8</div>
    </div>
    <div class="col">
      <div>9</div>
    </div>
  </div>
  <div class="col">
    <hr/>
  </div>
  <div class="col">
    <h5>Grid sizes</h5>
  </div>
  <div class="grid test">
    <div class="col xs-2">
      <div>.xx- <span> > 5em</span></div>
    </div>
    <div class="col xs-2">
      <div>.xs- <span> > 22.5em</span></div>
    </div>
    <div class="col xs-2">
      <div>.s- <span> > 35.5em</span></div>
    </div>
    <div class="col xs-2">
      <div>.m- <span> > 48em</span></div>
    </div>
    <div class="col xs-2">
      <div>.l- <span> > 64em</span></div>
    </div>
    <div class="col xs-2">
      <div>.xl- <span> > 80em</span></div>
    </div>
  </div>
  <div class="col">
    <hr/>
  </div>
  <div class="col">
    <h5>Column gaps</h5>    		Use <code>.xs0</code> to hide 1th column    		<br/>    		Use <code>.s-6</code> to show 1th column and make it 6x wide    		<br/>    		Use <code>.s-gap-1</code> to make 4th column 1x gap, and <code>.l-gap-0</code> to clear it.
  </div><br/>
  <div class="grid test">
    <div class="col xs0 s-6 m0 l-3">
      <div>
        <h6>#1</h6><span>.col <code>.xs0</code><code>.s-6</code> .m0 .l-3</span>
      </div>
    </div>
    <div class="col xs-5 s-4 m-7 l-3">
      <div>
        <h6>#2</h6><span>.col .xs-5 .s-4 .m-7 .l-3</span>
      </div>
    </div>
    <div class="col xs-3 s-2 m-2 l-4">
      <div>
        <h6>#3</h6><span>.col .xs-3 .s-2 .m-2 .l-4</span>
      </div>
    </div>
    <div class="col xs-4 s-11 s-gap-1 m-2 l-2 l-gap-0">
      <div>
        <h6>#4</h6><span>.col .xs-4 .s-11 <code>.s-gap-1</code> .m-2 .l-2 <code>.l-gap-0</code></span>
      </div>
    </div>
  </div>
  <div class="col">
    <hr/>
  </div>
  <div class="col">
    <h5>Column order</h5>    		Use <code>.rtl</code> on <code>.grid</code> to reverse columns
  </div><br/>
  <div class="grid rtl test">
    <div class="col xs-4">
      <h6>#1</h6>
    </div>
    <div class="col xs-8">
      <h6>#2</h6>
    </div>
  </div>
  <div class="col">
    <hr/>
  </div>
  <div class="col">
    <h5>Grid align</h5>    		Use <code>.grid_l</code> or <code>.grid_r</code> or <code>.grid_c</code> to align columns
  </div><br/>
  <div class="grid grid_l test">
    <div class="col xs-4">
      <h6>grid_l</h6>
    </div>
    <div class="col xs-2">
      <h6>grid_l</h6>
    </div>
    <div class="col xs-3">
      <h6>grid_l</h6>
    </div>
  </div>
  <div class="grid grid_r test">
    <div class="col xs-4">
      <h6>grid_r</h6>
    </div>
    <div class="col xs-2">
      <h6>grid_r</h6>
    </div>
    <div class="col xs-3">
      <h6>grid_r</h6>
    </div>
  </div>
  <div class="grid grid_c test">
    <div class="col xs-4">
      <h6>grid_c</h6>
    </div>
    <div class="col xs-2">
      <h6>grid_c</h6>
    </div>
    <div class="col xs-3">
      <h6>grid_c</h6>
    </div>
  </div>
  <div class="col">
    <hr/>
  </div>
</div>